.u-disabled {
  opacity: .3;
  pointer-events: none; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.u-button {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease; }
  .u-button:hover {
    color: white;
    transition: all 0.3s ease; }

.u-circle {
  border-radius: 50%;
  overflow: hidden; }

.disabled {
  pointer-events: none;
  opacity: .4; }

* {
  box-sizing: border-box; }

body {
  font-size: 20px;
  font-weight: 300;
  font-family: "din-2014", sans-serif;
  min-height: 91vh;
  height: auto;
  position: relative; }

main {
  min-height: 78.5vh; }

.u-content-wrapper, .project h1,
.project p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.wrapper, .project__main {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px; }

.footer {
  text-align: right;
  background-color: #00bec0;
  color: white;
  padding: 20px 50px;
  font-size: .9rem; }

p > a {
  text-decoration: none;
  color: #00bec0; }
  p > a:hover {
    background-color: rgba(0, 190, 192, 0.1); }

.toast-message {
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  display: none; }
  .toast-message.toast-success {
    background: #00bec0; }
  .toast-message.toast-error {
    background: #990000; }

.grid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0; }
  .grid tr {
    width: 100%; }
  .grid__item {
    vertical-align: top;
    padding: 4px 2px; }
  .grid__inner {
    display: block; }
    .grid__inner:before {
      display: block;
      padding-bottom: 100%;
      content: ''; }
  .grid__item[colspan='1'] {
    width: 25%; }
  .grid__item[colspan='2'] {
    width: 50%; }
  .grid__item[colspan='2'][rowspan='1'] .grid__inner:before {
    padding-bottom: calc(50% - 4px); }
  .grid__item[colspan='1'][rowspan='2'] .grid__inner:before {
    padding-bottom: calc(200% + 8px); }

.card {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 3px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .card:after {
    content: attr(title);
    position: absolute;
    bottom: -150px;
    width: 100%;
    left: 0;
    padding: 10px 20px;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    transition: all .3s ease;
    font-size: 1rem; }
    @media (min-width: 1200px) {
      .card:after {
        font-size: 1.2rem; } }

.card:hover:after {
  bottom: 0;
  transition: all .3s ease; }

.main-nav {
  text-align: right; }
  .main-nav__item {
    padding: 14px 23px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
    transition: all .4s ease;
    margin-left: -5px; }
    .main-nav__item:hover {
      background-color: #00bec0;
      color: white;
      transition: all .4s ease; }

.master-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all .4s ease; }
  .master-header.js-scrolled {
    background-color: rgba(255, 255, 255, 0.9); }
  @media (max-width: 64em) {
    .master-header {
      display: none;
      opacity: 1;
      pointer-events: none;
      transition: all .4s ease; } }
  .master-header__touch-trigger {
    background-color: #00bec0;
    color: white;
    width: 40px;
    height: 40px;
    z-index: 1001;
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0; }
    @media (min-width: 64.063em) {
      .master-header__touch-trigger {
        display: none; } }
  .master-header__content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center; }
  @media (min-width: 64.063em) {
    .master-header__logo {
      flex: 1;
      margin: 0;
      line-height: 1;
      transition: all .4s ease; }
      .master-header__logo img {
        padding: 5px 0;
        width: 120px;
        opacity: .7; } }
  @media (min-width: 64.063em) {
    .master-header__menu {
      flex: 6;
      align-self: flex-end; } }

.js-master-header--homepage .master-header__logo {
  position: relative;
  top: -100px;
  transition: all .4s ease; }

.js-scrolled .master-header__logo {
  top: 0;
  transition: all .4s ease; }

.master-header {
  transition: all .4s ease; }
  @media (max-width: 40em) {
    .master-header {
      opacity: 0;
      pointer-events: none; } }

.master-header.js-active {
  display: block;
  pointer-events: all;
  bottom: 0;
  opacity: 1;
  transition: all .4s ease;
  background-color: white; }
  .master-header.js-active .master-header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%; }
  .master-header.js-active .master-header__logo {
    display: block;
    position: static;
    width: 100%;
    text-align: center; }
    .master-header.js-active .master-header__logo a {
      display: block;
      padding: 50px; }
    .master-header.js-active .master-header__logo img {
      width: 160px; }
  .master-header.js-active .master-header__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1; }
  .master-header.js-active .main-nav__item {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    margin: 10px 0;
    font-weight: 100; }
    .master-header.js-active .main-nav__item:hover, .master-header.js-active .main-nav__item:focus {
      background-color: #00bec0;
      color: white; }

.post {
  max-width: 1280px;
  margin: 0 auto; }
  .post h1,
  .post p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }
  .post h1 {
    line-height: 1.2;
    font-weight: 100;
    font-size: 4rem; }
  .post__image {
    max-width: 100%;
    margin: 40px auto; }
    .post__image > img {
      width: 600px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: inline-block; }
    .post__image > figcaption {
      display: inline-block;
      vertical-align: top;
      width: 220px;
      margin-left: 35px;
      margin-right: 35px;
      font-size: 1rem;
      font-style: italic;
      color: rgba(0, 0, 0, 0.6); }
    .post__image--right {
      text-align: right; }

.project {
  margin: 0; }
  .project__header {
    margin: 0 0 60px 0;
    padding-top: 500px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center; }
    .project__header > h1 {
      line-height: 1; }
    .project__header > h1 > em {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 5px;
      display: inline-block;
      margin-bottom: 2px;
      font-style: normal; }
  .project h1 {
    padding-left: 280px;
    font-weight: 100;
    font-size: 4rem; }
  .project p {
    padding-right: 320px;
    padding-left: 280px;
    color: rgba(0, 0, 0, 0.7); }
  .project p:first-of-type:first-letter {
    font-size: 10rem;
    color: #00bec0;
    float: left;
    line-height: .7;
    margin-top: 15px;
    font-weight: 100;
    padding-right: 20px; }
  .project__image {
    max-width: 80%;
    margin: 40px auto;
    text-align: center; }
    .project__image > img {
      display: block; }
    .project__image > figcaption {
      font-size: 1rem;
      font-style: italic;
      color: rgba(0, 0, 0, 0.6);
      width: 80%;
      margin: 10px auto; }

.branding {
  padding: 0 40px !important;
  margin-bottom: 0;
  vertical-align: middle; }

.main-logo {
  text-align: center;
  width: 100%; }
  .main-logo--mobile {
    display: none;
    margin-top: 80px; }
    @media (max-width: 40em) {
      .main-logo--mobile {
        display: block; } }
  .main-logo img {
    max-height: 8vh;
    opacity: .6;
    background-blend-mode: multiply; }
    @media (max-width: 40em) {
      .main-logo img {
        max-width: 80vw; } }

.container {
  margin-top: calc(100vh - 180px);
  padding-top: 40px;
  background-color: white;
  padding-bottom: 40px; }
  @media (max-width: 40em) {
    .container {
      margin-top: 0;
      padding-top: 30px; } }

.hero-panel {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin-bottom: 80px; }
  @media (max-width: 40em) {
    .hero-panel {
      display: none; } }
  .hero-panel__bg, .hero-panel__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .hero-panel__content {
    padding: 32vh 0;
    background-color: rgba(255, 255, 255, 0.92); }
  .hero-panel__bg {
    background-position: center;
    background-size: cover; }
  .hero-panel__scroll {
    text-align: center; }
    .hero-panel__scroll i {
      font-size: 3rem;
      color: white;
      padding: 10px;
      border-radius: 50%;
      opacity: .3;
      position: absolute;
      background-blend-mode: multiply;
      background-color: #00bec0;
      animation: pulse 3s ease-in-out infinite; }

.client-band {
  z-index: 100;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  background-color: white; }
  @media (max-width: 40em) {
    .client-band {
      display: none; } }
  .client-band h3 {
    font-weight: 600;
    color: rgba(0, 190, 192, 0.6);
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 10px; }
  .client-band > img {
    max-height: 80px;
    padding: 10px 30px 30px;
    opacity: .3;
    filter: grayscale(100%);
    transition: all .4s ease; }
    .client-band > img:hover {
      filter: grayscale(0%);
      opacity: 1; }
  .client-band--facebook {
    max-height: 66px !important; }
  .client-band--idrc {
    max-height: 76px !important; }
  .client-band--govlab {
    max-height: 72px !important; }
  .client-band--harvard {
    max-height: 86px !important; }

.js-hero-1 {
  background-image: url("../images/hero/andrew-welch-155220.jpg"); }

.js-hero-2 {
  background-image: url("../images/hero/breather-187939.jpg"); }

.js-hero-3 {
  background-image: url("../images/hero/damian-zaleski-843.jpg"); }

.js-hero-4 {
  background-image: url("../images/hero/jeff-sheldon-3228.jpg"); }

.js-hero-5 {
  background-image: url("../images/hero/josefa-ndiaz-312261.jpg"); }

.js-hero-6 {
  background-image: url("../images/hero/kelly-sikkema-291518.jpg"); }

.js-hero-7 {
  background-image: url("../images/hero/markus-spiske-104910.jpg"); }

.js-hero-8 {
  background-image: url("../images/hero/nirzar-pangarkar-85499.jpg"); }

.js-hero-9 {
  background-image: url("../images/hero/rawpixel-com-203888.jpg"); }

.js-hero-0 {
  background-image: url("../images/hero/william-iven-19843.jpg"); }

.company-description {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right; }
  .company-description p {
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: 0; }
    .company-description p strong {
      color: #00bec0;
      font-weight: 400; }
    @media (min-width: 800px) {
      .company-description p {
        display: block; } }
    @media (min-width: 945px) {
      .company-description p {
        font-size: 1rem; } }
    @media (min-width: 1020px) {
      .company-description p {
        font-size: 1.1rem; } }
    @media (min-width: 1100px) {
      .company-description p {
        font-size: 1.2rem; } }
    @media (min-width: 1250px) {
      .company-description p {
        font-size: 1.4rem; } }
    @media (min-width: 1500px) {
      .company-description p {
        font-size: 1.7rem; } }

@media (max-width: 800px) {
  .grid,
  .grid tbody {
    display: block;
    width: 100%; }

  .branding {
    flex: 1 0 100% !important;
    width: 100% !important;
    padding: 0 !important; }
    .branding p {
      text-align: left;
      font-size: 1.2rem; }

  .grid tr {
    display: flex;
    flex-wrap: wrap; }

  .grid__item {
    flex: 1 0 45%;
    padding: 2px; }
    .grid__item .card:after {
      bottom: 0 !important; }

  .grid__item[colspan='2'][rowspan='1'] {
    flex: 1 0 100%; }

  .grid td a {
    padding: 0 !important;
    margin: 0 !important;
    display: block; } }
@media (max-width: 40em) {
  .grid__item {
    flex-basis: 90%; } }

.form * {
  outline: none; }
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea {
  display: block;
  outline: none;
  width: 100%;
  padding: 11px 10px 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7); }
  .form input[type="text"]::-webkit-input-placeholder,
  .form input[type="email"]::-webkit-input-placeholder,
  .form input[type="password"]::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    font-weight: 300; }
  .form input[type="text"]:-moz-placeholder,
  .form input[type="email"]:-moz-placeholder,
  .form input[type="password"]:-moz-placeholder,
  .form textarea:-moz-placeholder {
    font-weight: 300; }
  .form input[type="text"]::-moz-placeholder,
  .form input[type="email"]::-moz-placeholder,
  .form input[type="password"]::-moz-placeholder,
  .form textarea::-moz-placeholder {
    font-weight: 300; }
  .form input[type="text"]:-ms-input-placeholder,
  .form input[type="email"]:-ms-input-placeholder,
  .form input[type="password"]:-ms-input-placeholder,
  .form textarea:-ms-input-placeholder {
    font-weight: 300; }
  .form input[type="text"]:hover,
  .form input[type="email"]:hover,
  .form input[type="password"]:hover,
  .form textarea:hover {
    background-color: rgba(0, 0, 0, 0.02); }
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form input[type="password"]:focus,
  .form textarea:focus {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #00bec0; }
.form textarea {
  min-height: 180px; }
.form .button {
  padding: 12px 25px 10px;
  background-color: transparent; }
.form .email-address {
  float: right;
  display: inline-block;
  padding: 20px 0; }
  .form .email-address:hover {
    color: #00bec0; }

.contact,
.briefing {
  margin-top: 80px;
  max-width: 700px; }
  .contact h1,
  .briefing h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #00bec0;
    text-transform: uppercase; }
  .contact h2,
  .briefing h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #00bec0; }
  .contact hgroup,
  .briefing hgroup {
    margin-bottom: 40px; }
  .contact p,
  .briefing p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    margin: 25px 0 5px; }

.about,
.logoin {
  margin-top: 80px;
  max-width: 700px;
  color: #333; }
  .about h1,
  .logoin h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #00bec0;
    text-transform: uppercase; }

.logoin {
  padding-bottom: 40px; }
  .logoin-grid-item {
    width: 33%; }
    @media (max-width: 64em) {
      .logoin-grid-item {
        width: 100%; } }

.project-list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 64em) {
    .project-list {
      flex-direction: column; } }

.project-card {
  flex: 0 0 20%; }
  .project-card > a {
    background-size: cover;
    background-repeat: no-repeat; }

.filters {
  margin-top: 80px;
  text-align: center; }
  .filters .filter {
    display: inline-block;
    border: 0;
    color: rgba(0, 0, 0, 0.4); }
  .filters .filter--active {
    border: 1px solid #00bec0;
    color: #00bec0; }
  .filters .filter--spacer {
    width: 80px; }

.filterable-grid-item {
  width: 20%; }
  @media (max-width: 64em) {
    .filterable-grid-item {
      width: 100%; } }

.portfolio {
  display: flex;
  margin: 80px auto 0; }
  @media (max-width: 64em) {
    .portfolio {
      flex-direction: column; } }
  .portfolio__basic-info {
    text-align: right;
    width: 280px;
    padding-right: 30px; }
    @media (max-width: 64em) {
      .portfolio__basic-info {
        order: 2;
        padding: 0;
        width: 100%;
        text-align: left; } }
    .portfolio__basic-info h1 {
      font-size: 1.8rem;
      line-height: 1.2;
      margin: 0;
      font-weight: 300;
      color: #00bec0; }
    .portfolio__basic-info h2 {
      font-size: 1.2rem;
      margin-top: 0;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6); }
    .portfolio__basic-info p {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6); }
  .portfolio__main {
    flex: 1;
    max-width: 90%; }
    @media (max-width: 64em) {
      .portfolio__main {
        max-width: 100%; } }
  .portfolio__slider {
    background-image: url("/images/projects/macbook-mockup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 60%; }
    .portfolio__slider > .portfolio__slider-container {
      margin: 0 auto;
      width: 70.45%;
      position: relative;
      left: -0.4%;
      top: 0.2%;
      height: 0;
      padding-bottom: 52%;
      overflow-y: hidden;
      overflow-x: visible; }
    .portfolio__slider .slider {
      width: 100%;
      margin-top: 9.5%; }
  .portfolio__image {
    margin: 0; }
    .portfolio__image > img {
      display: block;
      margin: 0 0 20px; }
    .portfolio__image > figcaption {
      font-size: 1rem;
      font-style: italic;
      color: rgba(0, 0, 0, 0.6);
      width: 80%;
      margin: 10px auto; }
  .portfolio .portfolio--logo {
    background-size: cover;
    padding-bottom: 50%;
    background-position: center; }

.button {
  display: inline-block;
  padding: 5px 8px;
  font-size: .8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #00a0a1;
  border: 1px solid #00bec0;
  text-decoration: none; }
  .button:hover {
    background-color: #00bec0;
    color: white; }

.tags h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.6); }
.tags > em {
  display: inline-block;
  padding: 3px 5px 2px;
  font-size: .7rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2); }

.slick-arrow {
  position: absolute;
  top: 30%;
  z-index: 10; }

.slick-next {
  right: -80px; }

.slick-prev {
  left: -80px; }

.back-button {
  color: rgba(0, 190, 192, 0.8);
  display: block;
  margin-bottom: 40px; }
  .back-button i {
    font-size: 3rem; }

.team-page {
  margin-bottom: 60px; }
  .team-page h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: #00bec0;
    margin-bottom: 0;
    margin-top: 60px; }

.team {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center; }
  .team--partners {
    margin-top: 80px; }

.partners {
  margin-top: 80px; }

.partner-card {
  margin: 10px;
  flex: 0 0 calc(50% - 20px) !important;
  display: flex; }
  @media (max-width: 64em) {
    .partner-card {
      flex-direction: column;
      margin: 10px;
      margin-bottom: 0 !important; } }
  .partner-card__info {
    flex: 1;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 64em) {
      .partner-card__info {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: left !important;
        flex: 1;
        order: 2; } }
    .partner-card__info h2, .partner-card__info h3 {
      line-height: 1; }
    .partner-card__info h2 {
      margin: 0;
      font-weight: 300;
      color: #00bec0;
      font-size: 1.6rem; }
    .partner-card__info h3 {
      font-weight: 300;
      font-size: 1.1rem;
      margin-top: 10px; }
    .partner-card__info p {
      font-size: 1rem; }
  .partner-card__image {
    flex: 1;
    background-position: center; }
  .partner-card:nth-child(odd) .partner-card__info {
    text-align: right; }

.team-card {
  margin: 10px;
  flex: 0 0 calc(25% - 30px);
  position: relative; }
  @media (max-width: 40em) {
    .team-card {
      flex: 0 0 100% !important;
      margin-bottom: 80px; } }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .team-card {
      flex: 0 0 calc(50% - 30px) !important;
      margin-bottom: 70px; } }
  .team-card__image {
    background-size: cover; }
    .team-card__image:before {
      display: block;
      padding-bottom: 100%;
      content: ''; }
  .team-card__info {
    position: absolute;
    top: 100%;
    padding: 10px 0;
    color: #00a0a1;
    width: 100%; }
    .team-card__info h2 {
      font-size: 1.1rem;
      margin: 0;
      font-weight: 400; }
    .team-card__info h3 {
      font-size: .9rem;
      margin: 0;
      font-weight: 300; }

.case-intro {
  margin-top: 70px;
  margin-bottom: 40px; }
  .case-intro .wrapper, .case-intro .project__main {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0 40px; }
  .case-intro__top-row {
    margin-bottom: 20px; }
  .case-intro h3, .case-intro h4, .case-intro p {
    margin: 0;
    padding: 0; }
  .case-intro h3, .case-intro h4 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #00bec0; }
  .case-intro h3 {
    text-transform: uppercase; }
  .case-intro h4,
  .case-intro h5 {
    text-align: right; }
  .case-intro h5 {
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3); }
  .case-intro p {
    font-weight: 300;
    font-size: 1.2rem;
    opacity: .7; }

.case-hero {
  padding: 100px 0 60px; }
  .case-hero__main-image {
    margin-bottom: 40px; }
  .case-hero__blurb {
    font-size: 1.7rem;
    font-weight: 200;
    text-align: center;
    line-height: 1.5;
    opacity: .5;
    letter-spacing: .6px; }

.featured-in {
  margin: 10px 0;
  padding: 0;
  text-align: right; }
  .featured-in h5 {
    margin: 10px 0; }
  .featured-in img {
    max-height: 40px;
    opacity: .1;
    filter: grayscale(100%);
    transition: all .4s ease; }
    .featured-in img:hover {
      opacity: 1;
      filter: grayscale(0); }
  .featured-in li, .featured-in a {
    display: inline-block; }
  .featured-in li {
    list-style: none;
    margin: 0 0 0 40px;
    padding: 0;
    max-height: 50px;
    max-width: 180px; }

.case-section {
  padding: 80px 0; }
  .case-section h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #00bec0; }
  .case-section p {
    color: rgba(0, 0, 0, 0.6); }
  .case-section--align-right {
    text-align: right; }
  .case-section--top-padding {
    padding-top: 60px; }
  .case-section--dark {
    background-color: #333; }
    .case-section--dark p {
      color: rgba(255, 255, 255, 0.6); }
  .case-section--light {
    background-color: rgba(0, 0, 0, 0.05); }
    .case-section--light p {
      color: rgba(0, 0, 0, 0.6); }
  .case-section--centered {
    text-align: center; }
    .case-section--centered p {
      font-size: 1.7rem; }
  .case-section .button {
    padding: 10px 15px;
    letter-spacing: .6px;
    font-size: 1rem; }

.computer-mockup {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative; }
  .computer-mockup__frame {
    margin-top: -18%; }
  .computer-mockup__content {
    position: absolute;
    top: 13%;
    left: 14.2%;
    width: 71%;
    height: 68%;
    overflow: hidden; }
    .computer-mockup__content > * {
      height: 100%; }

.case-quote {
  padding: 160px 0; }
  .case-quote__picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: cover;
    overflow: hidden; }
  .case-quote__text {
    font-size: 1.7rem;
    position: relative; }
  .case-quote__icon {
    position: absolute;
    left: -15px;
    top: -60px;
    font-size: 4rem !important;
    color: #00bec0; }
  .case-quote__author {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0; }
  .case-quote__title {
    font-size: 1.2rem;
    margin: 0; }

.case-gallery__item img {
  border: 2px solid white; }

.case-study--facebook-report .case-hero {
  background-color: #f7f7f7;
  color: white;
  padding: 0;
  margin: 0; }
.case-study--facebook-report .case-quote {
  background-color: #3b5998; }
  .case-study--facebook-report .case-quote p {
    color: white; }
  .case-study--facebook-report .case-quote i {
    color: rgba(255, 255, 255, 0.3); }
.case-study--facebook-report .computer-mockup__content img {
  margin: 0 auto; }

.case-study---smarter-crowdsourcing .case-hero {
  background-color: #2c4758;
  color: white; }
.case-study---smarter-crowdsourcing .logo-animation-wrapper {
  padding: 0; }
.case-study---smarter-crowdsourcing .computer-mockup__content > * {
  margin-left: -6%; }
.case-study---smarter-crowdsourcing .project-sublogos {
  margin: 60px 0;
  max-width: 80%; }

#smarter-crowdsourcing-logo-animation .project-logo--future {
  fill: #D5DADE;
  opacity: 0; }
#smarter-crowdsourcing-logo-animation .project-logo--present {
  fill: #2C4758; }
#smarter-crowdsourcing-logo-animation .project-logo--future {
  animation-name: fade-in;
  animation-duration: 12s;
  animation-iteration-count: infinite; }
#smarter-crowdsourcing-logo-animation .project-logo--01 {
  animation-delay: 0; }
#smarter-crowdsourcing-logo-animation .project-logo--02 {
  animation-delay: 1s; }
#smarter-crowdsourcing-logo-animation .project-logo--03 {
  animation-delay: 2s; }
#smarter-crowdsourcing-logo-animation .project-logo--04 {
  animation-delay: 3s; }
#smarter-crowdsourcing-logo-animation .project-logo--05 {
  animation-delay: 4s; }
#smarter-crowdsourcing-logo-animation .project-logo--06 {
  animation-delay: 5s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }
