<p>CCM Design is proud to be the design reference for civic tech. Working with the big players in Open Government and Open Data, like the World Bank, Govlab and IDRC, we are specialized in digital design for the public good and passionate about this field.</p>