---
layout: default
---
{% include master-header.html %}
<main role="main"> <!-- main content starts here -->
  <article class="portfolio">
    <header class="portfolio__header" style="background-image: url(/images/{{page.client | slugify }}/{{ page.highlight.image }})">
      <div class="portfolio__basic-info">
        <h1 class="portfolio__title"><em>{{page.title}}</em></h1>
        {% if page.description %}
        <p class="portfolio__description">{{page.description}}</p>  
        {% endif %}
      </div>
      
    </header>
    
    
    <section class="portfolio__main">
      <figure class="portfolio__image">
        <img src="/images/{{page.client | slugify }}/{{ page.main_image }}" alt="{{page.title}}">
      </figure>

    {% if page.related-images %}
      {% for i in page.related-images %}
      <figure class="portfolio__image">
        <img src="/images/{{page.client | slugify }}/{{ i }}" alt="{{page.title}}">
      </figure>
      {% endfor %}
    {% endif %}
    </section>
  </article>
</main>


