---
layout: default
---
{% include master-header.html %}
<main role="main"> <!-- main content starts here -->
  <article class="portfolio">
    <aside class="portfolio__basic-info">
      <h1 class="portfolio__title">{{page.title}}</h1>
      {% if page.description %}
      <p class="portfolio__description">{{page.description}}</p>  
      {% endif %}
      
      {% if page.project_link.url and page.project_link.title %}
      <div>
        <a href="{{page.project_link.url}}" class="button" title="{{page.project_link.title}}">{{page.project_link.title}}</a>
      </div>
      {% endif %}


      {% if page.tags %}
      <div class="tags">
        <h4>Tags</h4>
        {% for tag in page.tags %}
        <em>{{tag}}</em>
        {% endfor %}
      </div>
      {% endif %}

    </aside>
    
    <section class="portfolio__main">
      <figure class="portfolio__image">
        <img src="/images/{{page.client | slugify }}/{{ page.main_image }}" alt="{{page.title}}">
      </figure>

    {% if page.related-images %}
      {% for i in page.related-images %}
      <figure class="portfolio__image">
        <img src="/images/{{page.client | slugify }}/{{ i }}" alt="{{page.title}}">
      </figure>
      {% endfor %}
    {% endif %}
    </section>
  </article>
</main>