* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 300;
}

.wrapper {
  margin: 0 auto;
  max-width: 80%;
}

.main-nav {
  text-align: right;
  background-color: $main-color;

  &__item {
    padding: 14px 23px;
    display: inline-block;
    text-decoration: none;
    color: rgba(black, .6);
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover { background-color: rgba(black, .1); }
  }
}

.master-header {
  margin-bottom: 30px;
  
  h1 { margin: 0; }
}

.main-container {
  margin-top: 80px;
}

.branding {
  padding: 0 40px !important;
  margin-bottom: 0;
  vertical-align: middle !important;
}

.main-logo {
  opacity: .6;
}

.company-description {
  margin: 50px 5px 0;
  color: rgba(black, .6);
  text-align: right;
}

.card {
  background-color: rgba(black, .1);
  color: rgba(black, .4);
  text-align: center;
  margin: 0 3px;
  position: relative;

  &:after {
    content: 'Portfolio Item';
    width: 100%;
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
  }
}

.grid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;

  tr {
    width: 100%;
  }

  &__item {
    vertical-align: top;
    padding: 4px 2px;
  }
  
  &__inner {
    display: block;
    
    &:before {
      display: block;
      padding-bottom: 100%;
      content: '';
    }
  }

  &__item[colspan='1'] { width: 25%; }
  &__item[colspan='2'] { width: 50%; }
  &__item[colspan='2'][rowspan='1'] .grid__inner:before { padding-bottom: calc(50% - 4px); }
  &__item[colspan='1'][rowspan='2'] .grid__inner:before { padding-bottom: calc(200% + 8px); }
}










// POST

.post {
  max-width: 1280px;
  margin: 0 auto;
  
  h1,
  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    line-height: 1.2;
    font-weight: 100;
    font-size: 4rem;
  }

  p {
    
  }

  &__image {
    max-width: 100%;
    margin: 40px auto;

    > img {
      width: 600px;
      border: 1px solid rgba(black, .1);
      display: inline-block;
    }

    > figcaption {
      display: inline-block;
      vertical-align: top;
      width: 220px;
      margin-left: 35px;
      margin-right: 35px;
      font-size: 1rem;
      font-style: italic;
      color: rgba(black, .6);
    }

    &--right {
      text-align: right;
    }
  }
}