* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 300;
  font-family: "din-2014", sans-serif;
}

.u-content-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

.main-container {
  margin-top: 120px;
}

.footer {
  text-align: right;
  background-color: $main-color;
  color: white;
  padding: 20px 50px;
  margin-top: 60px;
}









