* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 300;
  font-family: "din-2014", sans-serif;
  min-height: 91vh;
  height: auto;
  position: relative;
}

main {
  min-height: 78.5vh;
}

.u-content-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.footer {
  text-align: right;
  background-color: $main-color;
  color: white;
  padding: 20px 50px;
  font-size: .9rem;
}

p > a {
  text-decoration: none;
  color: $main-color;

  &:hover {
    background-color: rgba($main-color, .1);
  }
}







