.card {
  background-color: rgba(black, .1);
  color: rgba(black, .4);
  text-align: center;
  margin: 0 3px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow:hidden;

  &:after {
    content: attr(title);
    position: absolute;
    bottom: -150px;
    width: 100%;
    left: 0;
    padding: 10px;
    text-align: left;
    background: rgba(white, .8);
    color: rgba(black, .8);
    transition: all .3s ease;
    font-size: 1rem;
    @include breakpoint(min-width 1200px) {
      font-size: 1.2rem;
    }

  }
}

.card:hover:after {
  bottom: 0;
  transition: all .3s ease;
}

