.form {
  * { outline: none; } // Removes chrome blue outline on focus

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    display: block;
    outline: none;
    width: 100%;
    padding: 11px 10px 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: 1px solid rgba(black, .15);
    font-weight: 300;
    color: rgba(black, .7);

    @include placeholder {
      font-weight: 300;
    }

    &:hover { background-color: rgba(black, .02); }
    &:focus {
      box-shadow: inset 0 0 3px rgba(black, .1);
      background-color: rgba(black, .01);
      border: 1px solid $main-color;
    }
  }

  textarea { min-height: 180px; }

  .button {
    padding: 12px 25px 10px;
    background-color: transparent;
  }

  .email-address {
    float: right;
    display: inline-block;
    padding: 20px 0;

    &:hover {
      color: $main-color;
    }
  }
}

.contact,
.briefing {
  margin-top: 80px;
  max-width: 700px;

  h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: $main-color;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: $main-color;
  }

  hgroup {
    margin-bottom: 40px;
  }

  p {
    font-size: 1.2rem;
    color: rgba(black, .6);
    margin: 25px 0 5px;
  }
}