.main-nav {
  text-align: right;


  &__item {
    padding: 14px 23px;
    display: inline-block;
    text-decoration: none;
    color: rgba(black, .6);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
    transition: all .4s ease;
    margin-left: -5px;

    &:hover { 
      background-color: rgba($main-color, 1); 
      color: white;
      transition: all .4s ease;
    }
  }
}

.master-header {
  
  &.js-scrolled { 
    background-color: rgba(white, .9); 
  }

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all .4s ease;

  @include breakpoint($touch) { 
    display: none; 
    opacity: 1;
    pointer-events: none;
    transition: all .4s ease;
  }

  &__touch-trigger {
    background-color: $main-color;
    color: white;
    width: 40px;
    height: 40px;
    z-index: 1001;
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
    @include breakpoint($large) { display: none; }
  }

  &__content {
    display: flex;  
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &__logo {

    @include breakpoint($large) {
      flex: 1;
      margin: 0;
      line-height: 1;
      transition: all .4s ease;
      
      img { 
        padding: 5px 0;
        width: 120px;
        opacity: .7;
      }
    }
  }

  &__menu {
    @include breakpoint($large) {
      flex: 6;
      align-self: flex-end;
    }
  }
}

// HOMEPAGE: triggers the header logo to show and hide on scroll
.js-master-header--homepage .master-header__logo { 
  position: relative;
  top: -100px;
  transition: all .4s ease;
}
.js-scrolled .master-header__logo { 
  top: 0;
  transition: all .4s ease;
}



// Main Menu on Touch
.master-header {
  transition: all .4s ease;
  @include breakpoint($small-only) {
    opacity: 0;
    pointer-events: none;
  }
}

.master-header.js-active {
  display: block;
  pointer-events: all;
  bottom: 0;
  opacity: 1;
  transition: all .4s ease;
  background-color: rgba(white, 1);

  .master-header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  
  .master-header__logo {
    display: block;
    position: static;
    width: 100%;
    text-align: center;

    a {
      display: block;
      padding: 50px;
    }

    img { width: 160px; }
  }

  .master-header__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  .main-nav__item {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    margin: 10px 0;
    font-weight: 100;

    &:hover,
    &:focus {
      background-color: $main-color;
      color: white;
    }
  }
}
