.branding {
  padding: 0 40px !important;
  margin-bottom: 0;
  vertical-align: middle;
}

.main-logo { 
  opacity: .6;
  padding: 150px 20px 100px;
  @include breakpoint($large) { 
    padding-left: 120px; 
    padding-right: 120px; 
  }
  max-width: 900px;
  margin: 0 auto;

}

.company-description {
  margin: 0 5px;
  color: rgba(black, .6);
  text-align: right;

  p {
    font-size: .8rem;
    @include breakpoint(min-width 800px) { display: block; }
    @include breakpoint(min-width 945px) { font-size: 1rem; }  
    @include breakpoint(min-width 1020px) { font-size: 1.1rem; }  
    @include breakpoint(min-width 1100px) { font-size: 1.2rem; }  
    @include breakpoint(min-width 1250px) { font-size: 1.4rem; }  
    @include breakpoint(min-width 1500px) { font-size: 1.7rem; }  
  }
}

@include breakpoint(max-width 800px) {
.grid,
.grid tbody { 
  display: block; 
  width: 100%;
}

.branding {
  flex: 1 0 100% !important;
  width: 100% !important;
  padding: 0 !important;

  p { 
    text-align: left;
    font-size: 1.2rem;
  }

}

.grid tr {
  display: flex;
  flex-wrap: wrap;
}


.grid__item { 
  flex: 1 0 45%;
  padding: 2px;

  .card:after { bottom: 0 !important; }
}
.grid__item[colspan='2'][rowspan='1'] {flex: 1 0 100%;}

.grid td a {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  }
}

.grid__item {
  @include breakpoint($small-only) {
    flex-basis: 90%;
  }
}
