.portfolio {
  display: flex;
  max-width: 80%;
  margin: 80px auto 0;

  &__basic-info {
    text-align: right;
    width: 280px;
    padding-right: 30px;

    h1 {
      font-size: 1.8rem;
      margin-top: 0;
      font-weight: 300;
      color: $main-color;
    }

    p {
      font-size: 16px;
      color: rgba(black, .6);
    }
  }

  &__main { flex: 1; }

  &__image {
    margin: 0;

    > img { 
      display: block; 
      // box-shadow: 2px 2px 10px rgba(black, .1);
      margin: 0;
    }

    > figcaption {
      font-size: 1rem;
      font-style: italic;
      color: rgba(black, .6);
      width: 80%;
      margin: 10px auto;
    }
  }
}

.button {
  display: inline-block;
  padding: 5px 8px;
  font-size: .8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: darken($main-color, 6);
  border: 1px solid $main-color;
  text-decoration: none;

  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.tags {
  h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    color: rgba(black, .6);
  }

  > em {
    display: inline-block;
    padding: 3px 5px 2px;
    font-size: .7rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(black, .4);
    border: 1px solid rgba(black, .2);
  }
}
