

.project {
  margin: 0;

  &__header {
    margin: 0 0 60px 0;
    padding-top: 500px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;

    > h1 { line-height: 1; }

    > h1 > em {
      background-color: rgba(white, .8);
      padding: 5px;
      display: inline-block;
      margin-bottom: 2px;
      font-style: normal;
    }
  }

  &__main {
    @extend .wrapper;    
  }
  
  h1,
  p {
    @extend .u-content-wrapper;  
  }

  h1 {
    padding-left: 280px;
    font-weight: 100;
    font-size: 4rem;
  }

  p {
    padding-right: 320px;
    padding-left: 280px;
    color: rgba(black, .7);
  }

  p:first-of-type:first-letter {
    font-size: 10rem;
    color: $main-color;
    float: left;
    line-height: .7;
    margin-top: 15px;
    font-weight: 100;
    padding-right: 20px;

  }

  &__image {
    max-width: 80%;
    margin: 40px auto;
    text-align: center;

    > img { display: block; }

    > figcaption {
      font-size: 1rem;
      font-style: italic;
      color: rgba(black, .6);
      width: 80%;
      margin: 10px auto;
    }
  }




}