.project-list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($touch) {
    flex-direction: column;
  }
}

.project-card {
  flex: 0 0 20%;

  > a {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.filters {
  margin-top: 80px;
  text-align: center;


  .filter {
    display: inline-block;
    border: 0;
    color: rgba(black, .4);
  }

  .filter--active {
    border: 1px solid $green;
    color: $green;
  } 

  .filter--spacer {
    width: 80px;
  }
}

.filterable-grid {

  &-item {
    width: 20%;
    @include breakpoint($touch) {
      width: 100%;
    }
  }
}