<!-- Variables
title
client
highlight
- image
- rows
- cols 
-->

{% assign item = site.data.portfolio | where:"title", include.item  | first %}
<td class="grid__item highlight-card {% for tag in item.tags %}tag-{{ tag }} {% endfor %}" rowspan={{item.highlight.rows}} colspan={{item.highlight.cols}}>
  <a href="{% if item.special_url %}{{item/special_url}}{% else %}/{{item.title | slugify}}.html{% endif %}" class="card grid__inner" style="background-image: url(images/projects/{{item.client | slugify}}/{{item.highlight.image}})" title="{{item.title}}">
  </a>
</td>