<div class="master-header__touch-trigger js-open-modal"><i class="material-icons">menu</i></div>

<header class="master-header js-target-modal {{include.class}}">  
  <div class="master-header__content">
    <h1 class="master-header__logo"><a href="{{'/' | relative_url}}"><img src="/images/logo-ccm-design-signature.svg" alt=""></a></h1>
    <nav class="main-nav master-header__menu">
      <a href="/" class="main-nav__item">About</a>
      <a href="/" class="main-nav__item">Team</a>
      <a href="/" class="main-nav__item">Projects</a>
      <a href="/" class="main-nav__item">Contact</a>
    </nav>
  </div>
</header>