---
layout: default
title: CCM Design Inc.
---

{% include master-header.html class="js-scrolled" %}


<main role="main" class="case-study case-study---smarter-crowdsourcing"> <!-- main content starts here -->
  <header class="case-intro">
    <div class="wrapper">
        <div class="row expanded collapse case-intro__top-row">
          <div class="column small-6">
            <h3>Branding Case Study</h3>
          </div>
          <div class="column small-6">
            <h4>Client: Govlab</h4>
          </div>
        </div>

        <div class="row expanded collapse">
          <div class="large-5 small-10 column">
            <p>Govlab approached us with this amazing idea of creating a series of online conferences to gather experts from all over the world to discuss important issues for society.</p>
          </div>
        </div>
    </div>
  </header>

  <div class="case-hero">
    <div class="wrapper">
      <div class="row expanded align-center">
        <div class="large-5 small-11 column">
          <img class="case-hero__main-image" src="{{ '/images/cases/smarter-crowdsourcing/smarter-crowdsourcing-logo.svg' | relative_url }}" alt="">    
        </div>
      </div>
      <div class="row expanded align-center">
        <div class="large-8 small-11 column">
          <p class="case-hero__blurb">Smarter Crowdsourcing is a method that combines rigorous problem definition with crowdsourcing to attract diverse ideas from global experts and rapidly develop those ideas into actionable proposals.</p>
        </div>
      </div>
    </div>
    </div>

  <section class="wrapper case-section">
    <div class="row expanded collapse">
      <div class="column large-5 case-section--align-right">
        <h2>Branding System</h2>
        <p>We came up with the hexagons idea. The basic idea of interconnections is built in the hexagon shape. The branding system was created with the central idea that as the project evolves the brand would also incrementally evolve. The central concept of Govlab itself revolves around the idea of iterations, and that is one of the core values we wanted to convey in the system.  The logo system is composed by one main colour and one accent colour for the whole system. It also takes one accent colour for each project, that complements the two base colours, for project specific material.</p>  
      </div>
      <div class="column large-2"></div>
      <div class="column large-4">
        <div class="logo-animation-wrapper">
          <!-- {% include smarter-crowdsourcing-logo-animation.html %}  -->
          <img src="/images/cases/smarter-crowdsourcing/smarter-crowdsourcing-animated-logo.gif" alt="">
          
        </div>
      </div>
    </div>
  </section>

  <div class="case-section case-section--dark case-section--centered">
    <div class="wrapper">
      <div class="row expand collapse align-center">
        <div class="large-8 column">
          <img class="project-sublogos" src="/images/cases/smarter-crowdsourcing/smarter-crowdsourcing-project-logos.svg" alt="">    
          <p>We develop a logo and accent color for each theme always  following the overarching branding guidelines.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="case-section case--quote quote">
    <div class="wrapper">
      <div class="row expand collapse align-center">
        <div class="large-3 column">
          <div class="case-quote__picture" style="background-image: url(/images/cases/smarter-crowdsourcing/beth-quote.jpg)"></div>
        </div>
        <div class="large-1 column"></div>
        <div class="large-8 column">
          <p class="case-quote__text">
            <i class="material-icons case-quote__icon">&#xE244;</i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sunt praesentium illum beatae, quae delectus impedit blanditiis ipsa officia error facere, perspiciatis minima suscipit tempora laborum porro possimus earum. Ea.</p>  
          <p class="case-quote__author">Beth Simone Noveck</p>
          <p class="case-quote__title">Founder and Director of the GovLab</p>
        </div>
      </div>
    </div>
  </div>

  <div class="case-section case-section--light">
    <div class="wrapper">
      <div class="row expand collapse">
        <div class="large-7 column">
          <div class="computer-mockup">
            <img class="computer-mockup__frame" src="/images/cases/smarter-crowdsourcing/macbook-mockup.png" alt="">
            <div class="computer-mockup__content">
              <video src="/images/cases/smarter-crowdsourcing/zika-map-animation.webm" autoplay></video>  
            </div>
            
          </div>
        </div>
        <div class="large-5 column">
          <h3>Digital Platform</h3>
          <p>A big part of the branding project was dedicated to the design of the online platform to host the conferences information and reports. </p>
          <p><a href="http://smartercrowdsourcing.org/" class="button" target="_blank">Project Page</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="case-section case-section--gallery case-gallery">
      <div class="row expand collapse">
        <div class="large-6 column">
          <div class="case-gallery__item">
            <img src="/images/cases/smarter-crowdsourcing/zika-report-highlight.jpg" alt="">
          </div>
        </div>
        <div class="large-6 column">
          <div class="case-gallery__item">
            <img src="/images/cases/smarter-crowdsourcing/zika-poster-highlight.png" alt="">
          </div>
        </div>
        <div class="large-4 column">
          <div class="case-gallery__item">
            <img src="/images/cases/smarter-crowdsourcing/banners-zika.jpg" alt="">    
          </div>
        </div>
        <div class="large-4 column">
          <div class="case-gallery__item">
            <img src="/images/cases/smarter-crowdsourcing/banners-zika2.jpg" alt="">    
          </div>
        </div>
        <div class="large-4 column">
          <div class="case-gallery__item">
            <img src="/images/cases/smarter-crowdsourcing/banners-zika3.jpg" alt="">    
          </div>
        </div>
      </div>
  </div>
</main>




<!-- 
.case-hero
.case-hero__main-image
.case-hero__blurb

.project-info
.project-info__top
.project-info__bottom

.case-section

-->