---
layout: default
title: CCM Design Inc.
---

{% include master-header.html class="js-master-header--homepage" %}

<main role="main" class=""> <!-- main content starts here -->
  <div class="hero-panel">
    <div class="hero-panel__bg js-hero-bg"></div>
    <div class="hero-panel__content">
      <h1 class="main-logo">
        <img src="{{ '/images/logo-ccm-design-full.svg' | relative_url }}" alt="CCM Design Inc.">
      </h1>
      <!-- <div class="hero-panel__scroll">
        <i class="material-icons">keyboard_arrow_down</i>  
      </div> -->
    </div>
  </div>
  <h1 class="main-logo main-logo--mobile">
    <img src="{{ '/images/logo-ccm-design-full.svg' | relative_url }}" alt="">
  </h1>
  <div class="container">
    <div class="client-band">
      <h3>Proudly working with</h3>
      <img class="client-band__item client-band--idrc" src="{{ '/images/projects/idrc-logo.jpg' | relative_url }}" alt="">
      <img class="client-band__item client-band--facebook" src="{{ '/images/projects/facebook-logo.png' | relative_url }}" alt="">
      <img class="client-band__item client-band--worldbank" src="{{ '/images/projects/world-bank-logo.png' | relative_url }}" alt="">
      <img class="client-band__item client-band--govlab" src="{{ '/images/projects/govlab-logo.png' | relative_url }}" alt="">
    </div>
  <div class="wrapper">
    <table class="grid">
      <tbody>
        <tr>
          <td class="grid__item branding" colspan="2">
            <div class="company-description">
              <p><strong>CCM Design</strong> is a creative studio where a team of talented people unite their original ideas to build state of the art brands and digital products. We are proud to be the design reference for civic tech. Working with the big players in Open Government and Open Data, we are passionate about <strong>digital design for the public good.</strong></p>
            </div>
          </td>
          
          {% include highlight-card.html item="Facebook Annual Report" %}
          {% include highlight-card.html item="IODC 2016 Report" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Smarter Crowdsourcing Branding" %}

          {% include highlight-card.html item="Open Data 500 Logo" %}
          {% include highlight-card.html item="Bertelsmann Report" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Data Analytics for Procurement" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Seed of Change" %}
          {% include highlight-card.html item="Open Contracting" %}
          {% include highlight-card.html item="Cyber Hygiene Guide" %}
          
        </tr>
        <tr>
          {% include highlight-card.html item="IODC 2015 Report" %}
          {% include highlight-card.html item="Collectivites Locales" %}          
          
        </tr>
        <tr>
          {% include highlight-card.html item="Resilient Cities Report" %}
          {% include highlight-card.html item="OGRX" %}
          {% include highlight-card.html item="Digital Engagement Logo" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Baskerville" %}          
          {% include highlight-card.html item="Smarter Crowdsourcing Zika Branding" %}
          {% include highlight-card.html item="Digital Engagement Book" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Network of Innovators Logo" %}
          {% include highlight-card.html item="ICT4Gov Logo" %}
          {% include highlight-card.html item="Open Data Standards Report" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Karnataka Dashboard" %}
          {% include highlight-card.html item="Rio Grande do Norte Government Mockup" %}
          {% include highlight-card.html item="Network of Innovators Interface" %}
        </tr>
        <tr>
          {% include highlight-card.html item="Data Justice Network Logo" %}
        </tr>
      </tbody>
    </table>
  </div>
</div>  

    
  

  <!-- <div class="wrapper">

    <section class="portfolio-gallery">
      {% for i in site.data.portfolio %}
      <div class="portfolio-item {% for j in i.tags %}tag-{{j}} {% endfor %}">
        <img class="portfolio-item__image" src="/images/{{i.client_name | slugify}}/{{i.main_image}}">
      </div>
      {% endfor %}
    </section>
  
  </div> -->
  

  
</main>

