---
layout: default
title: CCM Design Inc.
---

<main role="main" class=""> <!-- main content starts here -->
  <header class="master-header">
    
      <nav class="main-nav">
        <div class="wrapper">
          <a href="#" class="main-nav__item">About</a>
          <a href="#" class="main-nav__item">Team</a>
          <a href="#" class="main-nav__item">Projects</a>
          <a href="#" class="main-nav__item">Contact</a>
        </div>
      </nav>

      <div class="wrapper flex">
        <h1 class="main-logo flex-item-3"><img src="{{ '/images/logo-ccm-design-full.svg' | relative_url }}" alt=""></h1>
        <div class="company-description flex-item-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aut explicabo iusto quos eius nesciunt voluptate, corporis pariatur, numquam ab minus vero maiores doloremque natus in architecto sapiente vitae dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    
  </header>

  <div class="wrapper">

    <section class="portfolio-gallery">
      {% for i in site.data.portfolio %}
      <div class="portfolio-item {% for j in i.tags %}tag-{{j}} {% endfor %}">
        <img class="portfolio-item__image" src="/images/{{i.client_name | slugify}}/{{i.main_image}}">
      </div>
      {% endfor %}
    </section>
  
  </div>
  

  
</main>

