---
layout: default
title: CCM Design Inc.
---

{% include master-header.html class="js-scrolled" %}

<main role="main" class=""> <!-- main content starts here -->    
  <div class="filters wrapper">
    <div class="filter button filter--active" data-filter="*" >All</div>
    <div class="filter filter--spacer"></div>
    <div class="filter button" data-filter=".client-govlab">Govlab</div>
    <div class="filter button" data-filter=".client-worldbank">WorldBank</div>
    <div class="filter button" data-filter=".client-idrc">IDRC</div>
    <div class="filter filter--spacer"></div>
    <div class="filter button" data-filter=".tag-interface">Interfaces</div>
    <div class="filter button" data-filter=".tag-branding">Branding</div>
    <div class="filter button" data-filter=".tag-editorial">Editorial</div>
    <div class="filter button" data-filter=".tag-infographic">Infographic</div>
  </div>

  <div class="filterable-grid project-list wrapper">
    {% for item in site.data.portfolio %}
    <div class="filterable-grid-item grid__item {% for tag in item.tags %}tag-{{ tag }} {% endfor %} client-{{item.client | downcase | slugify}}">
      <a href="{% if item.special_url %}{{item.special_url}}{% else %}/{{item.title | slugify}}.html{% endif %}" class="grid__inner project-card card" style="background-image: url(images/projects/{{item.client | downcase | slugify}}/{{item.highlight.image}})" title="{{item.title}}"></a>
    </div>
    {% endfor %}
  </div>
  
</main>

