---
layout: default
title: CCM Design Inc.
---

{% include master-header.html class="js-scrolled" %}

<main role="main" class="team-page"> <!-- main content starts here -->
  <div class="team partners wrapper">
    <div class="partner-card team-card">
      <div class="partner-card__info">
        <h2 class="partner-card__name">Claudio Mendonca</h2>
        <h3 class="partner-card__job">Creative Director | Partner</h3>
        <p>Creative Director and Entrepreneur, with over a decade of experience designing brand identities, data visualizations, online experiences and digital products, Claudio is a visionary design creator, consultant, experimenter.</p>
      </div>
      <div class="team-card__image partner-card__image" style="background-image: url(/images/claudio-profile.jpg);"></div>
    </div>

    <div class="partner-card team-card">
      <div class="team-card__image partner-card__image" style="background-image: url(/images/juliana-profile.jpg);"></div>
      <div class="partner-card__info">
        <h2 class="partner-card__name">Juliana Andrade</h2>
        <h3 class="partner-card__job">UX Specialist | Partner</h3>
        <p>User Experience Designer with more than 5 years of experience with projects ranging from fashion to social development projects.</p>
      </div>
    </div>
  </div>


  <h1>Associates</h1>
  <div class="team wrapper">
    {% for item in site.data.team %}
    <div class="team-card">
      <div class="team-card__image" style="background-image: url(/images/{{item.picture}});"></div>
      <div class="team-card__info">
        <h2>{{item.name}}</h2>
        <h3>{{item.job}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

